/*Container som omsluter info, moti samt more boxarna */
#mainContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 450px;
    width: 1550px;
    align-content: flex-start;


    
}

/*De tre boxarna som utgör main på förstasidan */
.mainBox{
    height: 200px;
    width: 200px;
    margin: 5px;

    text-align: center;

    box-shadow: 10px 10px 8px darkslategrey;
    border-radius: 8px;
}

/*Infoboxen*/
.infoBox{
    background-color: #8CE1DC;
    width: 100%;
    flex-direction: row;

    padding-left: 10px;   

    font-size: 28px;
    font-family: 'Kaisei Tokumin', serif;

}
/*MotivationalQuoteboxen*/
.motiBox{
    background-color: #9DDFEC;
    width: 28.7%;
    flex-direction: row;

    padding-left: 10px;

    font-family: 'Allison', cursive;
    font-size: 20px;
}
/*Moreboxen*/
.moreBox{
    background-color:#C3FFFD;
    width: 70%;
    flex-direction: row;

    padding-left: 10px;

    font-family: 'Saira Condensed', sans-serif;
    font-size: 22px;
    text-align: center;
}


/*Lina*/

body {
    width: 100%;
    height: 100%;
    margin: 0;

    background-image: url(images/bg.png)
    

  
  }
  
  aside {
    background-color: #adc2eb;
    height: 107vh;
    width: 12%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;

    box-shadow: 10px 10px 8px darkslategrey;
    border-radius: 8px;
    
    float: left;
    
    background: linear-gradient(to bottom right, #0099cc 0%, #99ffcc 100%);
  }
  
  #menu {
    display: flex;
    flex-direction: column;
    font-size: 180%;
  }
  
  nav a {
    padding-top: 20%;
    margin-left: 1vw;
    color: #000000;
  }
  
   nav a:link {
    text-decoration: none;
  }
  
  nav a:hover {
  
    text-decoration: underline;
  }


/*Peter*/

.animation-box {
    width: 70%;
    height: 300px;
    /*background-color: blue; Uncheck to see borders of class*/
    margin-top: 70px;
    overflow: hidden;
    position: relative;
  }
  
  .animation-container {
    width: 1000rem;
    height: 30rem;
  }
  
  @keyframes topFadeOut {
    0% {
      position: absolute;
      top: 10rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 25%;
      opacity: 2;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .first-text {
      font-size: 2.4rem;
      position: absolute;
      text-transform: uppercase;
         text-align: center;
         text-shadow: 2px 2px 7px darkslategray;
         left: 2.5rem;
         font-weight: 500;
      top: 30%;
      opacity: 100;
      animation-name: topFadeOut;
      animation-duration: 5s;
      color: black;
  }
  
  
/*Peter del 2*/

html {
    width: 100%;
  }
  
  body {
    background-image: url(images/bg.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }
  main {
    width: 75%;
    height: 400px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 2.5%;
  
    background-color: wheat;
  }
  
  /*.flex-container5 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;
  }*/
  
  header {
    background: linear-gradient(to bottom, grey 0%, lightgrey 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    color: black;
    padding: 5px 10px 5px;
    margin: 15px auto 0px;
    height: 106px;
  
    /* Properties below is optional*/
    box-shadow: 10px 10px 8px darkslategrey;
    border-radius: 8px;
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 5px darkslategray;
  }
  
  h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
  }
  
  .flex-item5 {
    width: 100px;
    height: 100px;
    margin: 3px 10px 0px;
  }
  
  .flex-item6 {
    width: 100px;
    height: 100px;
    visibility: hidden;
  }
  /* Optional. This is CSS for header nav links.
      .nav header {
          color: black;
          list-style-type: none;
          text-align: center;
          
        }
        
        .nav header li {
          display: inline-block;
          font-size: 20px;
          padding: 10px;
          color:darkslategrey;
        } */
  
  /* .fotsub is bold subhead in footer */
  .fotsub {
    color: black;
    font-size: 1em;
    font-weight: 700;
    margin: auto;
    text-align: left;
  }
  /* ul is list in footer */
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 10px;
  }
  
  footer {
    background: linear-gradient(to top, grey 0%, lightgrey 100%);
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7em;
    height: 100px;
    width: 95%;
    padding: 5px 20px;
    margin: 10px auto;
    line-height: 1.4;
    text-align: center;
    /* Properties below is optional*/
    box-shadow: 10px 10px 8px darkslategrey;
    border-radius: 8px;
  }
  
  /* Here are flex for colums in footer. */
  * {
    box-sizing: border-box;
  }
  
  .flex-container1 {
    justify-content: space-evenly;
  
    margin: 5px;
    display: flex;
  }
  
  .flex-container2 {
    justify-content: space-evenly;
  
    margin: 5px;
    display: flex;
    flex-direction: row;
  }
  
  .flex-container3 {
    justify-content: space-evenly;
  
    margin: 5px;
    display: flex;
    flex-direction: row;
  }
  
  .flex-container4 {
    justify-content: space-evenly;
  
    margin: 5px;
    display: flex;
    flex-direction: row;
  }
  
  .flex-item {
    text-align: left;
  
    width: 200px;
    height: 80px;
    margin: 3px;
  }
  
  /* This css for links in footer*/
  
  /* unvisited link */
  a:link {
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 5px darkslategray;
  }
  
  /* visited link */
  a:visited {
    color: rgb(68, 0, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(68, 0, 255);
    padding-left: 7px;
    text-shadow: 2px 2px 5px darkslategray;
  }
  
  /* selected link */
  a:active {
    color: rgb(68, 0, 255);
  }
  
.mainImage{
    width: 81%;

    box-shadow: 10px 10px 8px darkslategrey;
    border-radius: 8px;
    margin-top: 37px;
}


#99e6ff

#33ccff
